﻿@using nastyCloud.Models
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    ViewData["Title"] = "Chat";
}
@model User

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div id="inputForm">
    <form class="form">
        <input type="text" id="message" />
        <input type="button" id="sendBtn" value="@Localizer["Send"]" />
    </form>
</div>
<div id="chatroom"></div>

<script src="~/js/vendor/signalr.min.js"></script>
<script>
    let hubUrl = window.location.origin + '/chat-hub';
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl(hubUrl)
        .configureLogging(signalR.LogLevel.Information)
        .build();

    hubConnection.on('Send', function (message, userName) {
        let userNameElem = document.createElement("b");
        userNameElem.appendChild(document.createTextNode(userName + ': '));

        let elem = document.createElement("p");
        elem.appendChild(userNameElem);
        elem.appendChild(document.createTextNode(message));

        var firstElem = document.getElementById("chatroom").firstChild;
        document.getElementById("chatroom").insertBefore(elem, firstElem);
    });

    const sendDataFn = function (e) {
        e.preventDefault();

        const message = document.getElementById("message");

        let messageValue = message.value;
        hubConnection.invoke("Send", messageValue, '@Model.Nickname');

        message.value = '';
    };

    document.getElementById("sendBtn").addEventListener("click", sendDataFn);
    document.querySelector(".form").addEventListener("submit", sendDataFn);

    hubConnection.start();
</script>