﻿@using nastyCloud.Models
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
@model List<UserFile>

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">@Localizer["Choose file"]</label>
    </div>
    <div class="list-group">
        @foreach (var file in Model)
        {
            <div class="list-group-item d-flex justify-content-between bg-light mb-3 file" data-id=@file.Id>
                <span class="p-2">
                    <span class="file-name">
                        @file.ClientName
                    </span>
                </span>
                <span class="p-2">
                    <button type="button" class="btn btn-dark download-file">
                        <a href="/api/downloader/@file.Id">
                            @Localizer["Download"]
                        </a>
                    </button>
                    <button type="button" class="btn btn-dark" data-toggle="dropdown">
                        ...
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a href="#shareViaLink" class="link-to-share" data-id=@file.Id data-toggle="modal">
                                @Localizer["Share link"]
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#setAccess" class="link-to-access" data-id=@file.Id data-toggle="modal">
                                @Localizer["Set access"]
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#rename" class="link-to-rename" data-id=@file.Id data-toggle="modal">
                                @Localizer["Rename"]
                            </a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#delete" class="link-to-delete" data-id=@file.Id data-toggle="modal">
                                @Localizer["Delete"]
                            </a>
                        </li>
                    </ul>
                </span>
            </div>
        }
    </div>
    <div class="modal fade" id="shareViaLink">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Localizer["Link to Share"]</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @Localizer["If you do not have link, use button Generate to get it"]
                    <input type="text" class="input-to-link">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger submit-generate-btn" data-id="">
                        @Localizer["Generate"]
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="setAccess">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title title-set-access">@Localizer["Set the file visability mode"]</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body div-to-access"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger submit-access-btn" data-id="" data-dismiss="modal">
                        @Localizer["Yes"]
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rename">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Localizer["Change file name"]</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @Localizer["Input new file name"]:
                    <input type="text" class="input-to-name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success submit-edit-btn" data-id="" data-dismiss="modal">
                        @Localizer["Submit"]
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Localizer["Deleting file"]</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body div-to-delete">
                    @Localizer["Are you shure want to delete this file?"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger submit-delete-btn" data-id="" data-dismiss="modal">
                        @Localizer["Yes"]
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/main.js"></script>
