﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/body.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
        <a class="btn btn-light nav-item" asp-action="Register" asp-controller="Account">@Localizer["Sign Up"]</a>
        <a class="btn btn-light nav-item" asp-action="Login" asp-controller="Account">@Localizer["Log In"]</a>
    </nav>
    <div class="container d-flex justify-content-center">
        <div>
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>

        @RenderBody()
    </div>
</body>
</html>