﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model nastyCloud.ViewModels.LoginModel

@{
    Layout = "~/Views/Account/Layout.cshtml";
}

<form class="login" asp-action="Login" asp-controller="Account" method="POST">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email" for="email">@Localizer["Email"]:</label>
            <input asp-for="Email"
                   type="email"
                   class="form-control"
                   required="required"
                   placeholder="@Localizer["EnterEmail"]">
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password" for="pwd">@Localizer["Password"]:</label>
            <input asp-for="Password"
                   type="password"
                   class="form-control"
                   required="required"
                   minlength="8"
                   placeholder="@Localizer["EnterPassword"]" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
        </div>
    </div>
</form>