﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model nastyCloud.ViewModels.RegisterModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Account/Layout.cshtml";
}

<form class="login" asp-action="Register" asp-controller="Account" method="POST">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Email">@Localizer["Email"]:</label>
            <input asp-for="Email" type="email"
                   class="form-control"
                   required="required"
                   placeholder="@Localizer["Enter Email"]">
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Nickname">@Localizer["Nickname"]:</label>
            <input asp-for="Nickname"
                   type="text"
                   class="form-control"
                   required="required"
                   pattern="^[a-zA-Z][a-zA-Z0-9]+$"
                   placeholder="@Localizer["Enter Nickname"]">
            <span asp-validation-for="Nickname" />
        </div>
        <div class="form-group">
            <label asp-for="Password">@Localizer["Password"]:</label>
            <input asp-for="Password"
                   type="password"
                   class="form-control"
                   required="required"
                   minlength="8"
                   placeholder="@Localizer["Enter Password"]">
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">@Localizer["Confirm Password"]:</label>
            <input asp-for="ConfirmPassword"
                   type="password"
                   class="form-control"
                   required="required"
                   minlength="8"
                   placeholder="@Localizer["Confirm Password"]">
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <button type="submit" class="btn btn-primary">@Localizer["Submit"]</button>
    </div>
</form>