﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "nastyCloud.TagHelpers.AuthorTagHelper, nastyCloud"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" href="~/css/body.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex justify-content-between mb-3">
        <form class="form-inline p-2" asp-action="Index" asp-controller="Search" method="GET">
            <input class="form-control mr-sm-2" type="text" placeholder="@Localizer["Search"]" name="search">
            <button class="btn btn-success" type="submit">@Localizer["Search"]</button>
        </form>
        <span class="nav-item dropdown p-2">
            <span class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                @Localizer["Menu"]
            </span>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="Index" asp-controller="Chat">@Localizer["Chat"]</a>
                <a class="dropdown-item" asp-action="Logout" asp-controller="Account">@Localizer["Log Out"]</a>
                <author class="dropdown-item"></author>
            </div>
        </span>
    </nav>

    <div class="container body-content">
        <div>
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>

        @RenderBody()
    </div>
</body>
</html>