﻿@using nastyCloud.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

@model AdminSearchViewModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="container">
    <form asp-action="Index" asp-controller="Search" method="GET">
        <input class="form-control" id="myInput" type="text" name="search" placeholder="Search..">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
    <p>@await Component.InvokeAsync("QuantityComponent", new { users = Model.Users, files = Model.UserFiles })</p>
    <div class="list-group">
        @foreach (var file in Model.UserFiles)
        {
            <div class="list-group-item file d-flex justify-content-between bg-light mb-3" data-id=@file.Id>
                <span class="p-2">
                    <span>
                        @file.ClientName
                    </span>
                </span>
                <span class="p-2">
                    <button type="button" class="btn btn-dark">
                        <a href="/api/downloader/@file.Id">Download</a>
                    </button>
                    @if (ViewBag.isAdmin == true)
                    {
                        <button type="button" class="btn btn-danger submit-delete-btn" data-id=@file.Id>
                            Delete
                        </button>
                    }
                </span>
            </div>
        }
    </div>
    @if (Model.Users != null)
    {
        <div class="list-group">
            @foreach (var user in Model.Users)
            {
                <div class="list-group-item user d-flex justify-content-between bg-light mb-3" data-id=@user.Id>
                    <span class="p-2">
                        <span>
                            @user.Nickname
                        </span>
                    </span>
                    <span class="p-2">
                        @if (user.isAdmin)
                        {
                            <button type="button" class="btn btn-danger change-role" data-id=@user.Id>To users</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-danger change-role" data-id=@user.Id>To Admins</button>
                        }
                        <button type="button" class="btn btn-danger delete-user-btn" data-id=@user.Id>
                            Delete
                        </button>
                    </span>
                </div>
            }
        </div>
    }
</div>
<script src="~/js/mainSearch.js"></script>